.menuNewPost{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(23, 24, 29); /* Bordure de 2 pixels solide de couleur whitesmoke */
    flex-direction: column;
    background: #f9f9f9; /* Couleur de fond douce */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #e3e3e3;
    overflow: auto; /* Permettre le défilement du contenu si celui-ci dépasse la taille du conteneur */
    overflow-y: auto;
}

.center{
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.inputTitle{
    margin-top: 20px;
    width: 90%;
    border: 2px solid rgb(23, 24, 29);
    border-radius: 4px;
}

.textarea{
    margin-top: 40px;
    width: 85%;
    border: 2px solid rgb(23, 24, 29);
}

.hashtags{
    margin-top: 20px;
    max-height: 50px;
    border: 2px solid rgb(23, 24, 29);
    margin-right: 100px;
}

.select{
    margin-top: 40px;
}

.file{
    margin-top: 30px;
}

.buttonForm{
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid rgb(23, 24, 29);
}

.error{
    color: red
}

.margeCrossUser {
    display: flex; /* Pour aligner le contenu horizontalement */
  }
  
.margeCrossUser button {
    margin-left: 18px; /* Marge à gauche du bouton pour créer de l'espace avec le nom de l'utilisateur */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.marge{
    margin: 20px;
}