.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Permettre le défilement si le contenu dépasse */
    flex-direction: column;
    min-height: calc(100vh - 130px); /* Utiliser min-height à la place de height */
    border: 1px solid #ddd; /* Optionnel : ajout d'une bordure pour mieux voir les limites du conteneur */
    padding: 20px; /* Optionnel : ajout de padding pour un espacement interne */
    margin-top: 100px; /* Déplacer le contenu vers le bas pour compenser la hauteur de l'élément fixé */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    overflow: auto; /* Permettre le défilement du contenu si celui-ci dépasse la taille du conteneur */
    overflow-y: auto;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.publicPart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #f9f9f9; /* Couleur de fond douce */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    width: 100%;
    max-width: 600px; /* Limiter la largeur */
    margin: 20px auto; /* Centrer et espacer */
}

.publicPart .nickname {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Couleur de texte foncée */
}

.publicPart .bio {
    font-size: 16px;
    color: #666; /* Couleur de texte douce */
    text-align: center;
    margin-bottom: 20px;
    padding: 10px; /* Espacement intérieur */
    border: 1px solid #ddd; /* Bordure douce */
    border-radius: 5px; /* Coins légèrement arrondis */
    background: #fff; /* Fond blanc pour contraster avec le reste */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Petite ombre pour l'encadré */
}

.publicPart .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover; /* Assurer le bon affichage des images */
    border: 2px solid #ddd; /* Bordure légère */
}

.publicPart .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}

.statProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; /* Fond doux */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    width: 100%;
    max-width: 400px; /* Limiter la largeur */
    margin: 20px auto; /* Centrer et espacer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
}

.statProfil span {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333; /* Couleur de texte foncée */
    margin-bottom: 10px; /* Espacement entre les lignes */
}

.statProfil span:last-child {
    margin-bottom: 0; /* Supprimer l'espacement après le dernier élément */
}

.statProfil span i {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
    color: #555; /* Couleur des icônes */
}

.post_details {
    background-color: #fdfdfd; /* Fond léger pour les posts */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 8px; /* Coins arrondis */
    padding: 15px; /* Espacement interne */
    margin: 10px 0; /* Espacement externe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
    transition: transform 0.2s; /* Transition pour effet de survol */
}

.post_details:hover {
    transform: scale(1.02); /* Légère mise à l'échelle au survol */
}

.post_date {
    font-size: 14px; /* Taille de police pour la date */
    color: #888; /* Couleur de texte douce pour la date */
    margin-bottom: 8px; /* Espacement sous la date */
    font-weight: bold; /* Mettre en gras la date */
}

.post_image{
    margin-bottom: 10px;
    max-height: 400px;
    max-width: 500px;

}


.post_content{
    font-size: 14px; /* Taille de police pour la date */
    color: #414040; /* Couleur de texte douce pour la date */
    margin-bottom: 8px; /* Espacement sous la date */
    font-weight: bold; /* Mettre en gras la date */
}

.settings {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start; /* Aligner à gauche */
    padding: 10px;
}

.settingsButton {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.settingsButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.settingsButton:active {
    background-color: #004085;
    transform: scale(1);
}

.settingsButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.settingsIcon {
    width: 24px; /* Ajuster la taille si nécessaire */
    height: 24px;
    color: white;
}

.settingsContainer {
    background-color: white; /* Fond blanc pour le conteneur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styles pour le bouton de fermeture */
.closeButton {
    background-color: transparent; /* Fond transparent */
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333; /* Couleur du texte */
    padding: 5px;
    border-radius: 50%; /* Bord arrondi pour créer un aspect de bouton rond */
    transition: background-color 0.3s ease; /* Transition de couleur de fond en douceur */
}

.requestButton {
    background-color: #007bff;
    border: none; /* Pas de bord */
    color: white; /* Couleur du texte */
    padding: 15px 32px; /* Espacement intérieur (haut/bas, gauche/droite) */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Afficher en tant que élément en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge extérieure (haut/bas, gauche/droite) */
    cursor: pointer; /* Curseur pointeur au survol */
    border-radius: 10px; /* Bord arrondi */
    transition-duration: 0.4s; /* Durée de l'animation de transition */
}

.requestButton:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}

.requestText {
    font-weight: bold; /* Texte en gras */
}

.inputNickname {
    width: 100%; /* Largeur à 100% */
    padding: 12px 20px; /* Espacement intérieur (haut/bas, gauche/droite) */
    margin: 8px 0; /* Marge extérieure (haut/bas, gauche/droite) */
    box-sizing: border-box; /* Inclure le rembourrage et la bordure dans la taille totale */
    border: 2px solid #ccc; /* Bordure solide de 2px avec couleur grise */
    border-radius: 4px; /* Bord arrondi de 4px */
    transition: border-color 0.3s; /* Transition de la couleur de la bordure */
}

.inputNickname:focus {
    border-color: #4CAF50; /* Couleur de la bordure au focus */
}

.changeParam{
    width: auto;
    border: 2px solid rgb(194, 182, 182);
    padding: auto;
    margin: 10px;
}

.information {
    background-color: #d4edda; /* Light green background */
    border: 1px solid #c3e6cb; /* Green border */
    color: #155724; /* Dark green text */
    padding: 15px; /* Padding around the text */
    margin: 10px 0; /* Margin to separate from other elements */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    display: flex; /* Flexbox for potential icon inclusion */
    align-items: center; /* Center items vertically */
}

.information-icon {
    margin-right: 10px; /* Space between icon and text */
}

.requestContainer {
    background-color: #f4f4f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.requestHeader {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

.followRequest {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.followRequest:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.requestInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.requestText {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

.acceptButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 
}
.refuseButton {
    padding: 8px 16px;
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color;
    margin-left: 5px;
}

/* styles.module.css */

.subscribersContainer {
    margin: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .subscribersTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subscriberList {
    margin-top: 0.5rem;
  }
  
  .subscriberItem {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  .subscriberName {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }
  
  .seeSubButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .seeSubButton:hover {
    background-color: #0056b3;
  }
  
  /* styles.module.css */

.subscriberAvatar {
    width: 40px; /* Largeur souhaitée */
    height: 40px; /* Hauteur souhaitée */
    border-radius: 50%; /* Pour arrondir l'image si elle est carrée */
    object-fit: cover; /* Pour s'assurer que l'image couvre correctement la zone */
  }
  