*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/background-register.avif);
    background-size: cover;
    background-position: center; /* Centrer l'image */

    flex-direction: column; /* Organise les éléments en colonne */
}

.title-register{
    font-size:270%;
    color: #36576d;
}

.allContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organise les éléments en colonne */
    margin: auto;
  }

.input-email,
.input-file,
.input-birthday,
.input-avatar,
.input-first-name,
.input-last-name,
.input-nickname,
.input-aboutme,
.input-password {
    margin-top: 20px;
    font-size: 110%;
    width: 100%;
    max-width: 200px; /* Largeur maximale recommandée */
}

/* Styles de base */
input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  /* Style au survol */
  input:hover {
    border-color: #57a4d8;
  }
  
  /* Style au focus */
  input:focus {
    border-color: #a1d2e6;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
  }

.input-file-image{
    margin-top: 10px;
    text-align:center;
    padding:3%;
    border:thin solid black;
    transition: transform 0.2s ease; /* Transition pour une animation fluide */
}

input[type="file"]{
    display: none;
}

.label-image{
cursor:pointer;
}

.input-file-image:hover{
    transform: scale(1.1); /* Grossissement au survol */
}

#imageName{
color:green;
}

.button-submit {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #457ba0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.button-submit:hover {
    background-color: #4CAF50;
}

.login-path {
    margin-bottom: 20px;
    color: #36576d;
    text-decoration: none; /* Suppression du soulignement par défaut */
    font-weight: bold; /* Mise en gras */
    transition: transform 0.2s ease; /* Transition pour une animation fluide */
}

.login-path:hover {
    transform: scale(1.1); /* Grossissement au survol */
    text-decoration: underline; /* Soulignement au survol */
}
